<div class="password-card mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
  <div class="mdl-card mdl-shadow--2dp">
  
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{{ password.service }}</h2>
      <div class="mdl-layout-spacer"></div>
      <div style="display: none;" class="edit-password-btn">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <div class="hidden entity-key">{{ password.key.urlsafe() }}</div>
        <div class="hidden service">{{ password.service }}</div>
        <div class="hidden username">{{ password.username }}</div>
        <div class="hidden password">{{ password.password }}</div>
      </div>
    </div>
  
    <div style="display: none;" class="mdl-card__supporting-text">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">Username:</div>
        <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">{{ password.username }}</div>
        <div class="mdl-cell mdl-cell--4-col">Password:</div>
        <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">{{ password.password }}</div>
      </div>
      
    </div>
  </div>
</div>

