{% extends "templates/base_page.html" %}

{% block headerlinks %}
<button id="password-list-menu" class="mdl-button mdl-js-button mdl-button--icon">
	<i class="material-icons">more_vert</i>
</button>
<div class="menu-width-container">
	<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="password-list-menu">
		<li id="logout-btn" class="mdl-menu__item">
			Logout
		</li>
	</ul>
</div>
{% endblock %}

{% block content %}
<div class="mdl-grid">
	{% for password in password_query %}
	{% include "templates/password-card.html" %}
	{% endfor %}
</div>
{% endblock %}

{% block fab %}
<button id="add-password-fab" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
	<i class="fa fa-plus" aria-hidden="true"></i>
</button>
{% endblock %}

{% block dialogs %}
<dialog id='insert-password-dialog' class="mdl-dialog">
	<h4 class="mdl-dialog__title">Add Password</h4>
	<form action="/action/insert-password" method="POST">
		<input name="password_entity_key" type="hidden" >
		<div class="mdl-dialog__content">
			<div id="service-field" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" name="service">
				<label class="mdl-textfield__label" for="service">Service</label>
			</div>
			<div id="username-field" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" name="username">
				<label class="mdl-textfield__label" for="username">Username</label>
			</div>
			<div id="password-field" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" name="password">
				<label class="mdl-textfield__label" for="password">Password</label>
			</div>
		</div>
		<button type="button" style="display: none;" class="delete-btn delete-password-btn mdl-button mdl-js-button mdl-button--raised">
			<i class="fa fa-trash" aria-hidden="true"></i>
			<div style="display: none;" class="service-for-delete"></div>
			<div style="display: none;" class="entity-key-for-delete"></div>
		</button>
		<div class="mdl-dialog__actions">
			<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
				Add
			</button>
			<button type="button" class="mdl-button mdl-js-button mdl-button--raised close-insert-password-dialog">
				Cancel
			</button>
		</div>
	</form>
</dialog>

<!-- Delete password confirmation dialog -->
<dialog id='delete-password-dialog' class="mdl-dialog">
	<h4 class="mdl-dialog__title">Delete password</h4>
	<form action="/action/delete-password" method="POST">
		<input type="hidden" name="password_to_delete_key">
		<div class="mdl-dialog__content">
			<p class="delete-modal-body">
				Are you sure you wish to delete <b><span
				id="delete-password-service"></span></b>?
				<br>
			</p>
		</div>
		<div class="mdl-dialog__actions">
			<button type="submit" class="delete-btn mdl-button mdl-js-button mdl-button--raised">
				Delete password
			</button>
			<button type="button" class="mdl-button mdl-js-button mdl-button--raised close-delete-password-dialog">
				Cancel
			</button>
		</div>
	</form>
</dialog>

<!-- logout confirmation dialog -->
<dialog id='logout-confirmation-dialog' class="mdl-dialog">
	<h4 class="mdl-dialog__title">Confirm Sign Out</h4>
	<div class="mdl-dialog__content">
		This will sign you out of all sites that use Google sign in.
	</div>
	<div class="mdl-dialog__actions">
		<a href="{{ logout_url }}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Confirm</a>
		<button type="button" class="mdl-button mdl-js-button mdl-button--raised close-logout-confirmation-dialog">
			Cancel
		</button>
	</div>
</dialog>
{% endblock %}
